<div class="container-fluid me-0 navbar navbar-expand-lg navbar-expand-md">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs flex-column flex-column flex-sm-row">
      <li>
        <img src="{{ logoUrl }}" class="logo" alt="Bonanza logo" />
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact-tab"
          ngClass="{{ isTenantTab ? 'active' : '' }}"
          data-toggle="tab"
          role="tab"
          aria-selected="false"
          routerLink="tenant/list"
          ><i class="fa fa-cube" aria-hidden="true"></i>Tenant</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact-tab"
          ngClass="{{ isGHL ? 'active' : '' }}"
          data-toggle="tab"
          role="tab"
          aria-selected="false"
          routerLink="tenant/setup/ghl"
          ><i class="fa fa-cube" aria-hidden="true"></i>GHL</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact-tab"
          ngClass="{{ isBonanzaConnect ? 'active' : '' }}"
          data-toggle="tab"
          role="tab"
          aria-selected="false"
          routerLink="tenant/setup/bonanza-connect"
          ><i class="fa fa-futbol-o" aria-hidden="true"></i>Bonanza Connect</a
        >
      </li>
    </ul>
    <ul class="nav nav-tabs flex-column flex-sm-row logout_ul">
      <li class="nav-item">
        <a
          class="nav-link"
          id="contact-tab"
          data-toggle="tab"
          role="tab"
          aria-controls="contact"
          aria-selected="true"
          (click)="onLogout()"
          ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a
        >
      </li>
    </ul>
  </div>
</div>
