.table-row-hover:hover {
  background-color: #f9f9f9;
}

.table thead th {
  vertical-align: middle;
}

.alert {
  font-size: 1.1rem;
}

.content {
  position: relative !important;
  top: 15px;
  margin: 12px;
  min-width: 92vh !important;
  height: 92vh;
}

.modal-header {
  background-color: #f8f8f8;
}

.main-card {
  min-height: 92vh;
}

/* Bounce-In Animation */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the bounce-in animation */
.bounce-in-animation {
  animation: bounceIn 1s ease forwards;
}
.tenantId {
  min-width: 100px;
  display: inline-block;
  /* width: 200px; */
  text-align: center;
  background: #0d6efd;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
